.header {
    box-shadow: 0px 3px 6px #00000029;
    height: 70px;
    display: flex;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    font: 2em/2.3125em 'Raleway', sans-serif;
    color: var(--color-primary);
    font-weight: 300;
}

.menu__list {
    display: flex;
}

.menu__list-element {
    font: Bold 0.6875em/0.9375em Open Sans;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--color-grey);

}
.menu__list a {
    padding: 24px 25px;
    margin-left: 45px;
}

.menu__list-element:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-primary);
}
